html {
  line-height: 1.5;
  background-color: #c9b5ab;
}

ol li {
  font-weight: bold;
  list-style-type: none;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans", bold;
  font-weight: bold;
}

a {
  list-style-type: none;
  text-decoration: none;
  font-family: "PT Sans", bold;
  font-weight: bold;
  color: #8f2440;
  font-size: 1rem;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

figcaption {
  font-family: "PT Serif", italic;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: .8rem;
}

.germ {
  font-size: 1rem;
  font-family: "PT serif", bold;
  font-weight: bold;
}

ul li, dl, footer {
  font-family: "PT Serif", normal;
}

blockquote {
  font-family: "PT Serif", italic;
  font-size: 1.5rem;
}
