html {
  line-height: 1.5;
  background-color: #c9b5ab;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family:"PT Sans", bold;
}

nav, a, a:link {
  list-style-type: none;
  font-family:"PT Sans", bold;
  color: #8f2440;
  font-size: 1rem;
}

nav, a, a:hover {
  color: #3f1622;
  text-decoration: none;
}

p, figcaption {
  font-family:"PT Serif", normal;
  font-weight: normal;
  font-size: 1rem;
}

figure p:first-child {
  font-family:"PT Serif",normal;
}

ul li, dl, footer {
  font-family:"PT Serif", normal;
}

figcaption, blockquote, dt {
  font-family:"PT Serif", italic;
}

blockquote {
  font-size: 1.5rem;
}

blockquote cite {
  font-size: 1.25rem;
}
